@font-face {
    font-family: 'Lora-Regular';
    src: url('../../font/static/Lora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lora-Bold';
    src: url('../../font/static/Lora-Bold.ttf') format('truetype');
}